{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}




{% block body %}

{% block stylesheet %}
<!-- Style about -->
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/about.css')}}">
<!-- Responsive about -->
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive/about_responsive.css')}}">

{% endblock %}


<div class="super_container">

	<!-- Home -->

	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('assets/images/sportstream/about.jpg')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="home_text">L'Equipe du<span> FC AFPA </span></div>
				</div>
			</div>
		</div>
	</div>

 	<div class="uk-container uk-container-center alt">
                <ul class="uk-breadcrumb">
                    <li>Le Club
                    </li>
                </ul>
            </div>
	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
			

				<!-- About Image -->
				<div class="col-xl-6 order-xl-1 order-2">
					<div class="about_image">
						<div class="background_image" style="background-image:url({{ asset('assets/images/others/about_fond1.jpg')}}); "></div>
						<img src="{{ asset('assets/images/others/news_fond6.jpg')}}" alt="">
					</div>
				</div>

				<!-- About content -->
				<div class="col-xl-6 order-xl-2 order-1">
					<div class="about_content">
						<div class="about_content_container">
							<div class="section_title_container">
								<div class="section_title">
									<h1>A propos de l'équipe</h1>
								</div>
							</div>
							<div class="about_title">Le club, un passé, un présent, un futur</div>
							<div class="about_subtitle">Une histoire</div>
							<div class="about_text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque vel commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.</p>
								<p>Nam turpis nulla, ullamcorper volutpat faucibus ut, facilisis in elit. Nam blandit diam vel felis porta, vitae congue nulla feugiat. Vestibulum rhoncus odio elit, at aliquet sem posuere vel.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>



	<!-- Team -->

	<div class="team">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title">
							<h1>Découvrez votre Equipe </h1>
						</div>
						<div class="section_subtitle">2019-2020 saison</div>
					</div>
				</div>
			</div>
			<div class="row team_large_row">

				<!-- CADRE DE SUPERIEUR HIERARCHIQUE -->
				<div class="col-lg-4">
					<div class="team_large">						
						<div><img class="team_large_image" src="{{ asset('assets/images/sportstream/team_large_1.jpg')}}" alt=""></div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal1" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_large_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Ryad COACH</span></h1>
									<p> POSTE OCCUPE : <span>COACH</span> </p>
									<p> NATIONALITE: <span>POrtugesh</span> </p>
									<p> AGE : <span>894 ans</p>
									<p> NUMERO DE MAILLOT : <span>9262</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscingcinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_large_content text-center">
							<div class="team_large_name">Ryad</div>
							<div class="team_large_title">Coach Leader</div>
							<!-- Open Modal -->
							<div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" >Details</button></div>
						</div>
					</div>
				</div>
				<!-- CADRE DE SUPERIEUR HIERARCHIQUE -->
				<div class="col-lg-4">
					<div class="team_large">						
						<div><img class="team_large_image" src="{{ asset('assets/images/sportstream/team_large_2.jpg')}}" alt=""></div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal2" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_large_2.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Nora Jhones</span></h1>
									<p> POSTE OCCUPE : <span>TET</span> </p>
									<p> NATIONALITE: <span>OLA</span> </p>
									<p> AGE : <span>224 ans</p>
									<p> NUMERO DE MAILLOT : <span>9845</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..<p>
								</div>								
							</div>							
						</div>
						<div class="team_large_content text-center">
							<div class="team_large_name">Nora</div>
							<div class="team_large_title">Assistant Coach</div>
							<!-- Open Modal -->
							<div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" >Details</button></div>
						</div>
					</div>
				</div>
			

				<!-- CADRE DE SUPERIEUR HIERARCHIQUE -->
				<div class="col-lg-4">
					<div class="team_large">						
						<div><img class="team_large_image" src="{{ asset('assets/images/sportstream/team_large_3.jpg')}}" alt=""></div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal3" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_large_3.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Oliver MAINGAIN</span></h1>
									<p> POSTE OCCUPE : <span>Attaquant</span> </p>
									<p> NATIONALITE: <span>Espagnol</span> </p>
									<p> AGE : <span>24 ans</p>
									<p> NUMERO DE MAILLOT : <span>9</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_large_content text-center">
							<div class="team_large_name">Olivier MAINGAIN</div>
							<div class="team_large_title">COO</div>
							<!-- Open Modal -->
							<div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" >Details</button></div>
						</div>
					</div>
				</div>
			</div>


			<div class="row team_small_row">
			

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><img src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
							<div>83</div>
						</div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal4" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Louis FONGIO</span></h1>
									<p> POSTE OCCUPE : <span>Milieu Attaquant</span> </p>
									<p> NATIONALITE: <span>Rougaor</span> </p>
									<p> AGE : <span>242 ans</p>
									<p> NUMERO DE MAILLOT : <span>7</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>
							</div>
						</div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name">Louis</div>
							<div><button type="button" class="btn btn-primary-2" data-toggle="modal" data-target="#exampleModal4" >Details</button></div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><img src="{{ asset('assets/images/sportstream/team_small_2.jpg')}}" alt="" onclick="onClick(this)">
							<div>12</div>
						</div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal5" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Christohe SACCHI</span></h1>
									<p> POSTE OCCUPE : <span>Milieu Attaquant</span> </p>
									<p> NATIONALITE: <span>Rougaor</span> </p>
									<p> AGE : <span>242 ans</p>
									<p> NUMERO DE MAILLOT : <span>7</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name">Christophe SACCHI</div>
							<div><button type="button" class="btn btn-primary-2" data-toggle="modal" data-target="#exampleModal5" >Details</button></div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><img src="{{ asset('assets/images/sportstream/team_small_3.jpg')}}" alt="" onclick="onClick(this)">
							<div>25</div>
						</div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal6" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Louis FONGIO</span></h1>
									<p> POSTE OCCUPE : <span>Milieu Attaquant</span> </p>
									<p> NATIONALITE: <span>Rougaor</span> </p>
									<p> AGE : <span>242 ans</p>
									<p> NUMERO DE MAILLOT : <span>7</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name">Charoui</div>
							<div><button type="button" class="btn btn-primary-2" data-toggle="modal" data-target="#exampleModal6" >Details</button></div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><img src="{{ asset('assets/images/sportstream/team_small_4.jpg')}}" alt="">
							<div>33</div>
						</div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal7" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Louis FONGIO</span></h1>
									<p> POSTE OCCUPE : <span>Milieu Attaquant</span> </p>
									<p> NATIONALITE: <span>Rougaor</span> </p>
									<p> AGE : <span>242 ans</p>
									<p> NUMERO DE MAILLOT : <span>7</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name">Thomas</div>
							<div><button type="button" class="btn btn-primary-2" data-toggle="modal" data-target="#exampleModal7" >Details</button></div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><img src="{{ asset('assets/images/sportstream/team_small_5.jpg')}}" alt="">
							<div>61</div>
						</div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal8" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Louis FONGIO</span></h1>
									<p> POSTE OCCUPE : <span>Milieu Attaquant</span> </p>
									<p> NATIONALITE: <span>Rougaor</span> </p>
									<p> AGE : <span>242 ans</p>
									<p> NUMERO DE MAILLOT : <span>7</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name">Adrien</div>							
							<div><button type="button" class="btn btn-primary-2" data-toggle="modal" data-target="#exampleModal8" >Details</button></div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><img src="{{ asset('assets/images/sportstream/team_small_6.jpg')}}" alt="">
							<div>09</div>
						</div>
						<!-- The Modal -->
						<div class="modal" id="exampleModal9" tabindex="2"  >
							<div class="modal-content flex-row">
								<div class="display-block">
									<img class="Modal-image" src="{{ asset('assets/images/sportstream/team_small_1.jpg')}}" alt="">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
								<div class="cv-joueur">
									<h1><span>Louis FONGIO</span></h1>
									<p> POSTE OCCUPE : <span>Milieu Attaquant</span> </p>
									<p> NATIONALITE: <span>Rougaor</span> </p>
									<p> AGE : <span>242 ans</p>
									<p> NUMERO DE MAILLOT : <span>7</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.<p>
								</div>								
							</div>							
						</div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name">David</div>						
							<div><button type="button" class="btn btn-primary-2" data-toggle="modal" data-target="#exampleModal9" >Details</button></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="parallax_background" data-image-src="{{ asset('assets/images/sportstream/testimonials.jpg')}}"></div>
		<div class="test_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title">
							<h1>Témoignages</h1>
						</div>
						<div class="section_subtitle">Les Fans</div>
					</div>
					<div class="testimonials_slider_container">
						<div class="owl-carousel owl-theme test_slider">

							<!-- Slide -->
							<div>
								<div class="test_item text-center">
									<div class="test_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque vel commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.</p>
									</div>
									<div class="test_image"><img src="{{ asset('assets/images/sportstream/test_1.jpg')}}" alt=""></div>
									<div class="test_name"><a href="#">Laurent</a><span>, Superfan</span></div>
								</div>
							</div>

							<!-- Slide -->
							<div>
								<div class="test_item text-center">
									<div class="test_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque vel commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.</p>
									</div>
									<div class="test_image"><img src="{{ asset('assets/images/sportstream/test_1.jpg')}}" alt=""></div>
									<div class="test_name"><a href="#">Alexandre</a><span>, Superfan</span></div>
								</div>
							</div>

							<!-- Slide -->
							<div>
								<div class="test_item text-center">
									<div class="test_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque vel commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.</p>
									</div>
									<div class="test_image"><img src="{{ asset('assets/images/sportstream/test_1.jpg')}}" alt=""></div>
									<div class="test_name"><a href="#">Jimmy</a><span>, Superfan</span></div>
				
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CTA -->

<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                    <div class="cta_text">Vous voulez rejoindre notre
                        <span>
                            Equipe ?</span>
                    </div>
                    {% if not app.user%}
                        <div class="cta_button button ml-md-auto">
                            <a href="{{path('connexion')}}">Ajouter un Témoignage</a>
                        </div>
                    </div>
                {% else %}
                    <div class="cta_button button ml-md-auto">
                        <a href="#">Ajouter un Témoignage</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--END SUPER CONTRAINER !-->
</div>



{% endblock %}
