{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('assets/css/registration.css')}}"
{% endblock %}
       
{% block body %}

    <body>
            <div class="inner">

                <div class="image-holder">
                    <img src="{{ asset('assets/images/others/inscription_fond3.png')}}" alt="">
                </div>

                <div class=" d-flexrow">

                    <h3>Modification du mot de passe</h3>

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(form)}}
                    <div class="form-grouped" style="color:black;">
                     <div>Ancien mot de passe
                    </div>  
                        <div class="form-wrapper">
                         <div class="error-form">
                        {{ form_errors(form.oldPassword)}}
                    </div>
                            {{ form_widget(form.oldPassword, {'attr': {'class': 'input form-control'}}) }}
                        </div> 
                         <div>Nouveau mot de passe
                    </div>
                        <div class="form-wrapper">
                        <div class="error-form">
                        {{ form_errors(form.newPassword)}}
                    </div>
                            {{ form_widget(form.newPassword, {'attr': {'class': 'input form-control'}}) }}
                        </div> 
                         <div>Confimer le nouveau mot de passe
                    </div>
                        <div class="form-wrapper">
                        <div class="error-form">
                        {{ form_errors(form.confirmPassword)}}
                    </div>
                            {{ form_widget(form.confirmPassword, {'attr': {'class': 'input form-control'}}) }}
                        </div>
                    </div> 
                            
                
                    <button type="submit" class="btn btn-primary btn-edit-password">Modifier le mot de passe</button>
                               
                     {{ form_end(form)}}

                </div>    
            </div>
    </body>
{% endblock %}